/*部分样式重置*/

/*重置*/
*{
	font-family: arial,'Helvetica Neue', Helvetica, sans-serif;
	font-size: 10px;
    line-height: 1.5;
    -ms-overflow-style: scrollbar;
	color: #333;
}
html{
	-webkit-text-size-adjust: 100%
}
i,b{
	font-style: normal;
	font-weight: normal;
}
ol,ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}



html,
body,
div,
table,
span,
em,
b,
i,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
img,
th,
td,
a{
	margin: 0;
	outline: none;
	padding: 0
}

.lm_bor_bottom{
	border-bottom: 1px solid #dcdcdc;
}
.lm_mar_top15{
	margin-top: 15px
}
.lm_mar_bot15{
	margin-bottom: 15px
}
.lm_smallyj{
	border-radius: 5px;
}
.lm_bigyj{
	border-radius: 10px;
}
.lm_bigyj25{
	border-radius: 25px;
}
.lm_yj50{
	border-radius: 50%;
}
.clear{
	clear: both;
}
div,a,img{
	margin:0;
	padding:0;	
}
.margin0{
	margin:0;
	padding:0;
}
.lm_juzhong{
	margin-left: auto;
	margin-right: auto;
}
.tex0{
	text-decoration: none;
	font-style:normal;
	font-weight:normal;
}
.tex_cen{
	text-align: center;
}
.tex_l{
	text-align: left;
}
.tex_r{
	text-align: right;
}
.list0{
	list-style:none;
	margin: 0;
	padding: 0;
}
.block{
	display:block;
}
.inpu{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-size: 100%;
	background: none;
}
button,input{
	outline: none;
	border: none;
}

.btn0{
	margin: 0;
	padding: 0;
	outline: none;
	border: 1px solid transparent;
	background: none;
}
.idel{
	font-style: normal;
}
.txt0{
	text-decoration: none;
	font-style:normal;
	font-weight:normal;
}
.list0{
	list-style: none;
	margin:0;
	padding:0;
}
.border0{
	border:none;
	outline: none;
}
.font0{
  font-weight:normal;
  font-style: normal;
  
}


.text_ov {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.text_row1{

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;    
}

/*浮动设置*/
.fl{
	float: left;
}
.fr{
	float: right;
}
.fo{
	overflow: hidden;
}
/*定位设置*/
.pos-a{
	position: absolute;
}
.pos-r{
	position: relative;
}
/* 宽度设置 */
.lm_w100 {
	width: 100%;
}
.lm_w98 {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}
.lm_w96 {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}

.lm_w94 {
	width: 94%;
	margin-left: auto;
	margin-right: auto;
}

.lm_w92 {
	width: 92%;
	margin-left: auto;
	margin-right: auto;
}

.lm_w90 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.lm_w80 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.lm_w70{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.lm_w63 {
	width: 63%;
}

.lm_w60 {
	width: 60%;
}

.lm_w50 {
	width: 50%;
}
.lm_w40 {
	width: 40%;
}
.lm_w33 {
	width: 33.3%;
}
.lm_w25 {
	width: 25%;
}
.lm_w20{
	width: 20%;
}


.lm_w10{
	width: 10%;
}
.lm_pad94{
	padding-left: 3%;
	padding-right: 3%;
}




