.program {
  padding: 5px;
  width: 100%;
  height: 30%;
  background: #fff;
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap; }
  .program .programLis {
    list-style: none;
    width: calc(100% / 4);
    height: 50%;
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .program .programLis img {
      display: block;
      width: 50%;
      height: 50%; }
    .program .programLis span {
      font-size: 15px;
      margin-top: 10px ; }

.title1 {
	width: 100%;
	height: 30%;
	margin-top:1%;
	justify-content: left;
}

.title1 span{
	margin-left: 5%;
	font-size: 180%;
   
}
.title1 hr{
	margin-top: 3%;

	border-top:3px groove skyblue;
	
	
	
	 
}

.title1 input {
	width: 35%;
	height: 70%;
	background:  url(../../img/tingnan/tingnan3.png)  center no-repeat;
	background-size: 100% 100%;
	border: none;
	text-align: center;
    
}



.program1 {
  padding: 5px;
  width: 100%;
  height: 30%;
  background: #fff;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap; }
  .program1 .programLis1 {
    list-style: none;
    width: calc(100% / 4);
    height: 50%;
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .program1 .programLis1 img {
      display: block;
      width: 50%;
      height: 50%; }
    .program1 .programLis1 span {
      font-size: 15px;
      margin-top: 10px ; }


.title2 {
	width: 100%;
	height: 30%;
	margin-top:6%;
	justify-content: left;
}
.title2 span{
	margin-left: 5%;
	font-size: 180%;
   
}
.title2 hr{
	margin-top: 3%;

	border-top:3px groove skyblue;
	
	
	
	 
}

.title2 input {
	width: 35%;
	height: 70%;
	background:  url(../../img/tingnan/tingnan3.png)  center no-repeat;
	background-size: 100% 100%;
	border: none;
    text-align: center;
}